<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//En" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniProject.mapper.PostsMapper">
<sql id="postsBaseColumn">
	POSTS_NUM postsNum, MEMBER_NUM memberNum, POSTS_IMG postsImg, POSTS_IMG_IMG postsImgImg, POSTS_CONTENT postsContent, POSTS_DATE postsDate, POSTS_STYLE postsStyle
</sql>
<insert id="postsInsert" parameterType="posts">
	insert into POSTS(POSTS_NUM, MEMBER_NUM, POSTS_IMG, POSTS_IMG_IMG, POSTS_CONTENT, POSTS_DATE, POSTS_STYLE, POSTS_LIKE)
	values(#{postsNum}, #{memberNum}, #{postsImg}, #{postsImgImg}, #{postsContent}, sysdate, #{postsStyle}, 0)
</insert>
<select id="postsSelectList" parameterType="string" resultType="posts">
	select <include refid="postsBaseColumn"/> from POSTS where MEMBER_NUM = #{memberNum}
</select>
<select id="postsSelectOne" parameterType="string" resultType="posts">
	select <include refid="postsBaseColumn"/> from POSTS where POSTS_NUM = #{postsNum}
</select>
<update id="postsUpdate" parameterType="posts">
	update POSTS
	set POSTS_NUM = #{postsNum}, MEMBER_NUM = #{memberNum}, POSTS_CONTENT = #{postsContent}, POSTS_STYLE = #{postsStyle}
</update>
<delete id="postsDelete" parameterType="string">
	delete from POSTS where POSTS_NUM = #{postsNum}
</delete>
<select id="postsAllSelectList" resultType="posts" parameterType="category">
	select 	POSTS_NUM postsNum, p.MEMBER_NUM memberNum, POSTS_IMG postsImg, POSTS_IMG_IMG postsImgImg, POSTS_CONTENT postsContent, POSTS_DATE postsDate, POSTS_STYLE postsStyle
		  , MEMBER_ID memberid
	from POSTS p join MEMBERS m
	on p.MEMBER_NUM = m.MEMBER_NUM
	<trim prefix="WHERE" prefixOverrides="AND | OR">
		<if test='gender != null and (gender == "M" or gender == "F")'>
			AND GENDER = #{gender}
		</if>
		<if test="height != null and height != ''">
			AND HEIGHT = #{height}
		</if>
		<if test="weight != null and weight != ''">
			AND WEIGHT = #{weight}
		</if>
		<if test="style != null and style != ''">
			AND POSTS_STYLE = #{style}
		</if>
	</trim>
	<if test='orderBy != null and orderBy == "인기순"'>
		order by POSTS_LIKE desc
	</if>
</select>
<update id="likeAdd" parameterType="string">
	update POSTS
	set POSTS_LIKE = POSTS_LIKE + 1
	where POSTS_NUM = #{postsNum}
</update>
<update id="likeDel" parameterType="string">
	update POSTS
	set POSTS_LIKE = POSTS_LIKE - 1
	where POSTS_NUM = #{postsNum}
</update>
</mapper>