<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniProject.mapper.PurchaseMapper">

<select id="purchaseSelectOne" resultType="goods">
select goods_Num goodsNum, goods_main_store goodsMainStore, goods_price goodsPrice, delivery_cost deliveryCost, goods_name goodsName
from goods  
where goods_Num = #{goodsNum}
</select>
<insert id="purchaseInsert" parameterType="purchase">
insert into Purchase (MEMBER_NUM, PURCHASE_NUM, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL, DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_NAME, DELIVERY_NAME, PURCHASE_STATUS, PURCHASE_DATE)
values (#{memberNum}, #{purchaseNum}, #{deliveryAddr}, #{deliveryAddrDetail}, #{deliveryPost}, #{deliveryPhone}, #{message}, #{purchaseName}, #{deliveryName}, '주문완료', sysdate)
</insert>
<select id="purchaseSelect" resultType="purchase" parameterType="string">
select p.purchase_Num purchaseNum, purchase_Name purchaseName, PURCHASE_STATUS purchaseStatus
	 , GOODS_NUM goodsNum
from purchase p join PURCHASE_LIST pl
on p.PURCHASE_NUM = pl.PURCHASE_NUM
<if test="memberNum != null">
	where MEMBER_NUM = #{memberNum}
</if>
</select>
<update id="purchaseStatusUpdate" parameterType="string">
	update Purchase
	set PURCHASE_STATUS = #{status}
	where PURCHASE_NUM = #{purchaseNum}
</update>
<insert id="purchaseListInsert" parameterType="purchaseList">
	insert into PURCHASE_LIST(GOODS_NUM, PURCHASE_NUM, PURCHASE_QTY, TOTAL_PRICE)
	values(#{goodsNum}, #{purchaseNum}, 1, #{goodsPrice})
</insert>
</mapper>