<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>




<script type="text/javascript">
function goodsItem(goodsNum, goodsName){
	// 매개변수의 값을 부모창에 보내야 한다. $(opener.document).find()
	$(opener.document).find("#goodsNum").val(goodsNum);
	$(opener.document).find("#goodsName").val(goodsName);
	//var name= $(opener.document).find().val();
	window.self.close();
}
</script>






</head>
<body>

<ul th:if="${#strings.isEmpty(item)}">
    <li><a href="/shoppingmall/shoppingmallMain">홈</a></li>
	<li><a href="goodsForm">상품 추가</a></li>
	<li><a href="goodsIpgoList">상품 입고 현황</a></li>
	<li><a href="goodsOderList">상품 주문 관리</a></li>
</ul>









<table border=1 width="600" align="center">
<form  action="goodsList" method="get" > 
	<tr><th:block  th:if="${#strings.isEmpty(item)}">
		<td colspan="6">
		</th:block>
		<th:block  th:if="${item == 'ipgo'}">
		<td colspan="5">검색 :
		</th:block>
		<input type="search" name="searchWord" size="60" th:value="${searchWord}"/>
		<input type="submit" value="검색" />
		</td></tr>
</form>
<form action="productsDelete" method="post" id="frm"> <!-- submit을 하면 삭제가 되는 쿠드를 작성합니다. -->
	<tr><td>번호</td><td>상품번호</td><td>상품명</td>
		    <td>상품가격</td><td>등록일</td>
		   
		<td th:if="${#strings.isEmpty(item)}"><input type="checkbox" id="checkBoxs"/>
			<input type="submit" value="선택 삭제" /> 
		</td>
	</tr>
	<tr th:each="dto , idx : ${dtos}" >
		<td>[[${idx.count}]]</td>
		<td th:if="${#strings.isEmpty(item)}" >
			<a th:href="|goodsDetail?goodsNum=${dto.goodsNum}|">[[${dto.goodsNum}]]</a></td>
		<td th:if="${#strings.isEmpty(item)}" >
			<a th:href="@{goodsDetail(goodsNum=${dto.goodsNum})}">[[${dto.goodsName}]]</a></td>
		
		<td th:if="${item == 'ipgo'}">
			<a th:href="|javascript:goodsItem('${dto.goodsNum}','${dto.goodsName}')|">[[${dto.goodsNum}]]</a></td>
		<td th:if="${item == 'ipgo'}">
			<a th:href="|javascript:goodsItem('${dto.goodsNum}','${dto.goodsName}')|">[[${dto.goodsName}]]</a></td>
		
		<td>[[${dto.goodsPrice}]]</td>
		<td>[[${#dates.format(dto.goodsRegist,'yyyy-MM-dd')}]]</td>
		
		<td th:if="${#strings.isEmpty(item)}"><input type="checkbox" name="nums" th:value="${dto.goodsNum}" /></td>
	</tr>
</form>
	<tr align="center">
		<th:block  th:if="${#strings.isEmpty(item)}">
		<td colspan="6">
		</th:block>
		<th:block  th:if="${item == 'ipgo'}">
		<td  colspan="5">
		</th:block>
		<th:block th:if="${page <= 1}">
		[이전]
		</th:block>
		<th:block th:if="${page > 1}">
		<a th:href="@{goodsList(page=${page - 1},
						searchWord=${searchWord})}">[이전]</a>
		</th:block>
		
		<th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
		<a th:href="@{goodsList(page=${i},searchWord=${searchWord})}">[[${i}]]</a> 
		</th:block>
		<th:block th:if="${page >= maxPage}">
		[다음]
		</th:block>
		<th:block th:if="${page < maxPage}">
		<a th:href="@{goodsList(page=${page + 1},
						searchWord=${searchWord})}">[다음]</a>
		</th:block>
	</td></tr>
</table>
</body>
</html>