<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>J_BRO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/sideBar.css">
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top"  id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>MINI-PROJECT</b></h3>
  </div>
  <!-- 왼쪽 카테고리바 -->
  <div class="w3-padding-64 w3-large w3-text-grey" id="mySidebarContent">
    <th:block th:if="${session.auth == null}">
    	<a href="/login/login" class="w3-bar-item w3-button">로그인</a>
    </th:block>
    <th:block th:if="${session.auth != null}">
    	<a href="/login/logout">로그아웃</a>
    </th:block>
	    <a href="/" class="w3-bar-item w3-button">홈</a>
	    <a href="/shoppingmall/shoppingmallMain" class="w3-bar-item w3-button">쇼핑몰</a>
	<th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
		<a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          관리 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="/member/memberList" class="w3-bar-item w3-button">회원 및 직원관리</a>
          <a href="/goods/goodsOderList" class="w3-bar-item w3-button">배송 관리</a>
        </div>
	</th:block>
	<th:block th:if="${session.auth != null && session.auth.grade == 'mem'}">
		<a th:href="|/posts/postsList?memberId=${session.auth.userId}|" class="w3-bar-item w3-button">프로필</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          더보기 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="/wish/wishList" class="w3-bar-item w3-button">찜한상품</a>
          <a href="/order/orderList" class="w3-bar-item w3-button">주문내역</a>
        </div>
	</th:block>
  </div>
</nav>

<!-- Top menu on small screens -->
<!-- 상단바 -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">상단바</div>
  <!-- 상단바오른쪽버튼 -->
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- 작은 화면에서 사이드바를 열 때 오버레이 효과 -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !페이지 콘텐츠! -->
<div class="w3-main" style="margin-left:250px">

  <!-- 작은 화면에서 콘텐츠 푸시다운 -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- 상단 헤더 -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">MINIPROJECT</p>
    <p class="w3-right">
      <button class="w3-button"><i class="fa fa-shopping-cart"></i></button>
      <button class="w3-button"><i class="fa fa-search"></i></button>
    </p>
  </header>



  <div class="w3-container w3-text-grey" align="center">
    <p><b>회원 로그인</b></p>
    <form action="loginOk" method="post" th:object="${loginCommand}">
        <input type="text" name="userId" placeholder="아이디"/>
        <input type="password" name="userPw" placeholder="비밀번호"/>
        <input type="submit" value="로그인"/><br/>
		<div class="w3-container w3-text-grey" align="center" >
     		<div class="w3-container" align="center">
      			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
				<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span>
        		<a href="/member/memberAgree">계정이없다면?</a>
    		</div>
  		</div>
      </form>
  </div>
</div>

<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
</body>
</html>