<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>J_BRO</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/postCss.css">
<link rel="stylesheet" href="/static/css/sideBar.css">
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(event){
		//기본 폼 제출 방지
		event.preventDefault();
		$.ajax({
			type:'post',
			url:'/item/comment',
			data: {
				"CommentsContent" : $("#comment").val(),
				"postsNum" : "[[${postsCommand.postsNum}]]"
			},
			success: function(result){
				console.log(result);
				$("#content").empty();
				result.forEach(function (comment) {
			        var newLineReplacedCommentContent = comment.COMMENTSCONTENT.replace(/\n/g, '<br/>');
			        var profileImageSrc = comment.PROFILEIMG != null ? '/static/upload/' + comment.PROFILEIMG : ''; // 프로필 이미지가 없는 경우를 대비한 처리
			        var commentItemHtml = 
			            "<div class='comment-item'>" +
			                "<a href='postsList?memberId=" + comment.MEMBERID + "'>" +
			                    "<img src='" + profileImageSrc + "' alt='Profile Image' width='50'>" +
			                "</a>" +
			                "<div>" +
			                    "<strong>" + comment.MEMBERID + "</strong>" +
			                    "<span> "+ newLineReplacedCommentContent + "</span>" +
			                "</div>" +
			            "</div>";

			        $('#content').append(commentItemHtml);
			    });
				$("#comment").val("");
			},
			error:function(){
				alert("서버오류");
			}
		});
	});
	
	$("#like").click(function(){
		 $.ajax({
			type:"post",
			url:"/item/postslikeAddDel",
			data:{"postsNum":"[[${postsCommand.postsNum }]]"},
			success:function(result){ //1:추가 0:삭제 900:관리자 로그인
				console.log(result);
				console.log("result.allLikeCount : " + result.allLikeCount );
				console.log("result.likeCount : " + result.likeCount );
				if(result.likeCount == "1"){
					$("#like").attr("src","/static/images/hrt1.jpg");
				}else if(result.likeCount == "0"){
					$("#like").attr("src","/static/images/hrt.jpg");
				}else if(result.likeCount == "900"){
					alert("관리자는 사용할 수 없는 서비스입니다.");
				}
				$("#allLikeCount").text(result.allLikeCount);
			},
			error:function(){
				alert("로그인이 필요합니다.\n로그인해주세요.");
				location.href="/login/login";
			}
		});
	});
});
</script>
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16" >
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>MINI-PROJECT</b></h3>
  </div>
  <!-- 왼쪽 카테고리바 -->
  <div class="w3-padding-64 w3-large w3-text-grey" id="mySidebarContent">
    <th:block th:if="${session.auth == null}">
    	<a href="/login/login" class="w3-bar-item w3-button">로그인</a>
    </th:block>
    <th:block th:if="${session.auth != null}">
    	<a href="/login/logout">로그아웃</a>
    </th:block>
	    <a href="/" class="w3-bar-item w3-button">홈</a>
	    <a href="" class="w3-bar-item w3-button">검색</a>
	    <a href="/shoppingmall/shoppingmallMain" class="w3-bar-item w3-button">쇼핑몰</a>
	<th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
		<a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          관리 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="/member/memberList" class="w3-bar-item w3-button">회원 및 직원관리</a>
          <a href="#" class="w3-bar-item w3-button">문의 관리</a>
          <a href="#" class="w3-bar-item w3-button">배송 관리</a>
        </div>
        <a href="#" class="w3-bar-item w3-button">설정</a>
	</th:block>
	<th:block th:if="${session.auth != null && session.auth.grade == 'mem'}">
		<a th:href="|/posts/postsList?memberId=${session.auth.userId}|" class="w3-bar-item w3-button">프로필</a>
        <a href="#" class="w3-bar-item w3-button">설정</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          더보기 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="#" class="w3-bar-item w3-button">찜한상품</a>
          <a href="#" class="w3-bar-item w3-button">장바구니</a>
          <a href="#" class="w3-bar-item w3-button">주문내역</a>
        </div>
	</th:block>
  </div>
</nav>
<!-- Top menu on small screens -->
<!-- 상단바 -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">상단바</div>
  <!-- 상단바오른쪽버튼 -->
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- 작은 화면에서 사이드바를 열 때 오버레이 효과 -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !페이지 콘텐츠! -->
<div class="w3-main" style="margin-left:250px">

  <!-- 작은 화면에서 콘텐츠 푸시다운 -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

	<a th:href="|postsList?memberId=${memberCommand.memberId}|">
	<div style="display: inline-block;">
		<div class="box">
			<img class="profile" th:src="|/static/upload/${memberCommand.profileImg}|" />
		</div>
		<div>
			 <strong>[[${memberCommand.memberId}]]</strong>
		</div>		
	</div>
 	</a>
 	<div>
	 	<div class="img-grid">
    <th:block th:each="image : ${#strings.arraySplit(postsCommand.postsImg, '/')}">
        <div>
            <img th:src="|/static/upload/${image}|" alt="Post Image">
        </div>
    </th:block>
</div>
	 	<img th:if="${like == 1}" src="/static/images/hrt1.jpg" id="like" width="20"/>
	 	<img th:if="${like != 1}" src="/static/images/hrt.jpg" id="like" width="20"/>
	 	<span id="allLikeCount">[[${allLikeCount}]]</span><br/>
	 	내용 : [[${postsCommand.postsContent}]]<br/>
	 	스타일 : [[${postsCommand.postsStyle}]]<br/>
 	</div>
 	<th:block th:each="goods :${plist}">
 		<div style="display: inline-block;">
 			<a th:href="|/shoppingmall/goodsSebu?goodsNum=${goods.goodsNum}|">
 				<img th:src="|/static/upload/${goods.goodsMainStore}|" width="80"/><br/>
 				[[${goods.goodsName}]]
 			</a>
 		</div>
 	</th:block><br/>
 	<th:block th:if="${session.auth != null}">
 		<th:block th:if="${postsCommand.memberNum == memberNum }">
 			<a th:href="@{postsUpdate(postsNum=${postsCommand.postsNum })}|">게시물 수정</a> | 
			<a th:href="|postsDelete?postsNum=${postsCommand.postsNum }|">게시물 삭제</a> 
		</th:block>
		<th:block th:if="${memberNum == '900' }">
			<a th:href="|postsDelete?postsNum=${postsCommand.postsNum }|">게시물 삭제</a> 
		</th:block>
	</th:block><br/>
	
	<!-- Comment -->
	<div id="content">
    <th:block th:each="CommentCommand : ${list}">
        <div class="comment-item">
            <a th:href="|postsList?memberId=${CommentCommand.MEMBERID}|">
                <img th:src="|/static/upload/${CommentCommand.PROFILEIMG}|" alt="Profile Image">
            </a>
            <div>
                <strong th:text="${CommentCommand.MEMBERID}"></strong>
                <span th:utext="${#strings.replace(CommentCommand.COMMENTSCONTENT, newLine,'<br/>')}"></span>
            </div>
        </div>
    </th:block>
</div>
	<th:block th:if="${session.auth != null}">
		<form id="frm">
			<input type="text"  id="comment" name="comment" placeholder="댓글 달기.." required="required"/>
			<input type="submit" value="게시">
		</form>
	</th:block>
	<th:block th:if="${session.auth == null}">
		<input type="text" placeholder="로그인을 해주세요." readonly="readonly"/>
	</th:block>
</body>
</html>