<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="postsRegist" method="post" enctype="multipart/form-data" id="frm">
	회원 등록 페이지<br/>
<input type="hidden" name="postsNum" th:value="${postsCommand.postsNum}">
	사진 : <input type="file" multiple="multiple" name="postsImg"  /><br/>
	내용 : <textarea rows="10" cols="70" name="postsContent"></textarea><br/>
	스타일 : <select name="postsStyle" >
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select><br/>
	<input type="submit" value="등록"/>
</form>
</body>
</html>