<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>J_BRO</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/sideBar.css">
<link rel="stylesheet" href="/static/css/postListCss.css">

</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top"id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>MINI-PROJECT</b></h3>
  </div>
  <!-- 왼쪽 카테고리바 -->
  <div class="w3-padding-64 w3-large w3-text-grey" id="mySidebarContent">
    <th:block th:if="${session.auth == null}">
    	<a href="/login/login" class="w3-bar-item w3-button">로그인</a>
    </th:block>
    <th:block th:if="${session.auth != null}">
    	<a href="/login/logout">로그아웃</a>
    </th:block>
	    <a href="/" class="w3-bar-item w3-button">홈</a>
	    <a href="/shoppingmall/shoppingmallMain" class="w3-bar-item w3-button">쇼핑몰</a>
	<th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
		<a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          관리 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="/member/memberList" class="w3-bar-item w3-button">회원 및 직원관리</a>
          <a href="/goods/goodsOderList" class="w3-bar-item w3-button">배송 관리</a>
        </div>
	</th:block>
	<th:block th:if="${session.auth != null && session.auth.grade == 'mem'}">
		<a th:href="|/posts/postsList?memberId=${session.auth.userId}|" class="w3-bar-item w3-button">프로필</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          더보기 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="#" class="w3-bar-item w3-button">찜한상품</a>
          <a href="#" class="w3-bar-item w3-button">장바구니</a>
          <a href="#" class="w3-bar-item w3-button">주문내역</a>
        </div>
	</th:block>
  </div>
  <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
  <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
</nav>
<!-- Top menu on small screens -->
<!-- 상단바 -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">상단바</div>
  <!-- 상단바오른쪽버튼 -->
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- 작은 화면에서 사이드바를 열 때 오버레이 효과 -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !페이지 콘텐츠! -->
<div class="w3-main" style="margin-left:250px">
  <!-- 작은 화면에서 콘텐츠 푸시다운 -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

<!-- 상품 나열 그리드 -->
<div class="profile-container">
    <div class="profile-header">
        <img class="profile-picture" th:src="|/static/upload/${memberCommand.profileImg}|">
		<p class="profile-username">[[${memberCommand.memberId}]]</p>
		<th:block th:if="${session.auth != null0 && session.auth.userId == memberId}">
			<div class="profile-actions">
	            <button type="button" class="edit-profile-btn" onclick="location.href='postsWrite'">글 작성</button>
	            <button type="button" class="edit-profile-btn"  th:attr="onclick=|javascript:location.href='/member/memberUpdate?memberNum=${session.auth.userId}'|">프로필 수정</button>
	        </div>
        </th:block>
    </div>
	<div class="posts-grid">
	<th:block th:each="postsCommand, idx : ${list}">
		<div class="post" >
    		<a th:href="|postsDetail?postsNum=${postsCommand.postsNum}&memberNum=${postsCommand.memberNum}|">
        		<img th:src="|/static/upload/${#strings.arraySplit(postsCommand.postsImg, '/')[0]}|" style="width:30vh;height:40vh">
        	</a>
        	<p>[[${postsCommand.memberNum}]]</p>
    	</div>
    </th:block>
	</div>
</div>   
</div>
</body>
<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
</html>