<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>J_BRO</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script> 
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(event){
		//기본 폼 제출 방지
		event.preventDefault();
		$.ajax({
			type:'post',
			url:'/item/comment',
			data: {
				"CommentsContent" : $("#comment").val(),
				"postsNum" : "[[${postsCommand.postsNum}]]"
			},
			success: function(result){
				console.log(result);
				$("#content").empty();
				result.forEach(function (result) {
	                $('#content').append("<div><a href='postsList?memberId=" + result.MEMBERID + "'>" + result.MEMBERID +'</a>' + ' : ' + result.COMMENTSCONTENT + '</div>');
	           
	            });
				$("#comment").val("");
			},
			error:function(){
				alert("서버오류");
			}
		});
	});
	
	$("#like").click(function(){
		 $.ajax({
			type:"post",
			url:"/item/postslikeAddDel",
			data:{"postsNum":"[[${postsCommand.postsNum }]]"},
			success:function(result){ //1:추가 0:삭제 900:관리자 로그인
				console.log(result);
				console.log("result.allLikeCount : " + result.allLikeCount );
				console.log("result.likeCount : " + result.likeCount );
				if(result.likeCount == "1"){
					$("#like").attr("src","/static/images/hrt1.jpg");
				}else if(result.likeCount == "0"){
					$("#like").attr("src","/static/images/hrt.jpg");
				}else if(result.likeCount == "900"){
					alert("관리자는 사용할 수 없는 서비스입니다.");
				}
				$("#allLikeCount").text(result.allLikeCount);
			},
			error:function(){
				alert("로그인이 필요합니다.\n로그인해주세요.");
				location.href="/login/login";
			}
		});
	});
});
</script>
</head>
<body>
	<a th:href="|postsList?memberId=${memberCommand.memberId}|">
		<img th:src="|/static/upload/${memberCommand.profileImg}|" width="50"/>
 		[[${memberCommand.memberId}]]<br/>
 	</a>
 	<th:block th:each="image : ${#strings.arraySplit(postsCommand.postsImg, '/')}">
 		<img th:src="|/static/upload/${image}|" style="width:30vh;height:40vh"><br/>
 	</th:block>
 	<img th:if="${like == 1}" src="/static/images/hrt1.jpg" id="like" width="20"/>
 	<img th:if="${like != 1}" src="/static/images/hrt.jpg" id="like" width="20"/>
 	<span id="allLikeCount">[[${allLikeCount}]]</span><br/>
 	내용 : [[${postsCommand.postsContent}]]<br/>
 	스타일 : [[${postsCommand.postsStyle}]]<br/>
 	<th:block th:if="${session.auth != null}">
 		<th:block th:if="${postsCommand.memberNum == memberNum }">
 			<a th:href="@{postsUpdate(postsNum=${postsCommand.postsNum })}|">게시물 수정</a> | 
			<a th:href="|postsDelete?postsNum=${postsCommand.postsNum }|">게시물 삭제</a> 
		</th:block>
		<th:block th:if="${memberNum == '900' }">
			<a th:href="|postsDelete?postsNum=${postsCommand.postsNum }|">게시물 삭제</a> 
		</th:block>
	</th:block><br/>
	
	<!-- Comment -->
	<div id="content" >
	<th:block th:each="CommentCommand : ${list}">
		<div>
			<a th:href="|postsList?memberId=${CommentCommand.MEMBERID}|">[[${CommentCommand.MEMBERID}]]</a> : <br/>
			<span th:utext="${#strings.replace(CommentCommand.COMMENTSCONTENT, newLine,'&lt;br /&gt;')}"></span>
		</div>
	</th:block>
	</div>
	<th:block th:if="${session.auth != null}">
		<form id="frm">
			<textarea rows="10" cols="50"  id="comment" name="comment" placeholder="댓글 달기.." required="required"></textarea>
			
			<input type="submit" value="게시">
		</form>
	</th:block>
	<th:block th:if="${session.auth == null}">
		<input type="text" placeholder="로그인을 해주세요." readonly="readonly"/>
	</th:block>
</body>
</html>