<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>J_BRO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>MINI-PROJECT</b></h3>
  </div>
  <!-- 왼쪽 카테고리바 -->
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <th:block th:if="${session.auth == null}">
    	<a href="login/login" class="w3-bar-item w3-button">로그인</a>
    </th:block>
    <th:block th:if="${session.auth != null}">
    	<a href="login/logout">로그아웃</a>
    </th:block>
	    <a href="/" class="w3-bar-item w3-button">홈</a>
	    <a href="" class="w3-bar-item w3-button">검색</a>
	    <a href="shoppingmall/shoppingmallMain" class="w3-bar-item w3-button">쇼핑몰</a>
	<th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
		<a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          관리 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="member/memberList" class="w3-bar-item w3-button">회원 및 직원관리</a>
          <a href="#" class="w3-bar-item w3-button">문의 관리</a>
          <a href="#" class="w3-bar-item w3-button">배송 관리</a>
        </div>
        <a href="#" class="w3-bar-item w3-button">설정</a>
	</th:block>
	<th:block th:if="${session.auth != null && session.auth.grade == 'mem'}">
		<a th:href="|/posts/postsList?memberId=${session.auth.userId}|" class="w3-bar-item w3-button">프로필</a>
        <a href="#" class="w3-bar-item w3-button">설정</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
          더보기 <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
          <a href="#" class="w3-bar-item w3-button">찜한상품</a>
          <a href="#" class="w3-bar-item w3-button">장바구니</a>
          <a href="#" class="w3-bar-item w3-button">주문내역</a>
        </div>
	</th:block>


    
  </div>
  <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
  <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
</nav>

<!-- Top menu on small screens -->
<!-- 상단바 -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">상단바</div>
  <!-- 상단바오른쪽버튼 -->
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- 작은 화면에서 사이드바를 열 때 오버레이 효과 -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !페이지 콘텐츠! -->
<div class="w3-main" style="margin-left:250px">

  <!-- 작은 화면에서 콘텐츠 푸시다운 -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- 상단 헤더 -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">MINIPROJECT</p>
    <p class="w3-right">
      <button class="w3-button"><i class="fa fa-shopping-cart"></i></button>
      <button class="w3-button"><i class="fa fa-search"></i></button>
    </p>
  </header>

<!-- 카테고리 -->
  <div class="w3-container w3-text-grey">
  	<form action="/" method="get">
  		<select name="orderBy" >
  			<option >최신순</option>
			<option th:selected="${orderBy == '인기순'}">인기순</option>
  		</select>
  		<input type="checkbox" name="gender" th:checked="${gender == 'M'}" value="M"/>M
  		<input type="checkbox" name="gender" th:checked="${gender == 'F'}" value="F"/>F
HEIGHT  <select name="height" >
  	  		<option></option>
			<option th:selected="${height == '~150cm'}">~150cm</option>
			<option th:selected="${height == '150~157cm'}">150~157cm</option>
			<option th:selected="${height == '155~162cm'}">155~162cm</option>
			<option th:selected="${height == '160~167cm'}">160~167cm</option>
			<option th:selected="${height == '165~172cm'}">165~172cm</option>
			<option th:selected="${height == '170~177cm'}">170~177cm</option>
			<option th:selected="${height == '175~182cm'}">175~182cm</option>
			<option th:selected="${height == '180~187cm'}">180~187cm</option>
			<option th:selected="${height == '185~192cm'}">185~192cm</option>
			<option th:selected="${height == '192cm~'}">192cm~</option>
		</select>
WEIGHT  <select name="weight" >
   			<option></option>
			<option th:selected="${weight == '~45kg'}">~45kg</option>
			<option th:selected="${weight == '45~50kg'}">45~50kg</option>
			<option th:selected="${weight == '50~55kg'}">50~55kg</option>
			<option th:selected="${weight == '55~60kg'}">55~60kg</option>
			<option th:selected="${weight == '60~65kg'}">60~65kg</option>
			<option th:selected="${weight == '65~70kg'}">65~70kg</option>
			<option th:selected="${weight == '70~75kg'}">70~75kg</option>
			<option th:selected="${weight == '75~80kg'}">75~80kg</option>
			<option th:selected="${weight == '80~85kg'}">80~85kg</option>
			<option th:selected="${weight == '85~90kg'}">85~90kg</option>
			<option th:selected="${weight == '90kg~'}">90kg~</option>
		</select>
  MOOD  <select name="style" >
   			<option></option>
			<option th:selected="${style == '1'}">1</option>
			<option th:selected="${style == '2'}">2</option>
			<option th:selected="${style == '3'}">3</option>
			<option th:selected="${style == '4'}">4</option>
		</select>
		<input type="submit" value="적용"/>
  	</form>
  </div>		
  <div class="w3-container w3-text-grey" id="jeans">
    <p>추천 게시물</p>
  </div>

  <!-- 상품 나열 그리드 -->
  <div class="w3-row">
   <th:block th:each="postsCommand, idx : ${list}">
    <div class="w3-col l3 s6">
      <div class="w3-container" >
        <a th:href="|/posts/postsDetail?postsNum=${postsCommand.postsNum}&memberNum=${postsCommand.memberNum}|">
        <img th:src="|/static/upload/${#strings.arraySplit(postsCommand.postsImg, '/')[0]}|" style="width:30vh;height:40vh"></a>
        <p>[[${postsCommand.memberId}]]</p>
      </div>
    </div>
    <th:block th:if="${idx.count % 4 == 0}" th:utext="'</div><div>'" />
    </th:block>
  </div>

  
  <!-- End page content -->
</div>

<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
</body>
</html>