<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script> 
</head>
<body>
<form action="memberUpdate" method="post" th:object="${memberCommand}" enctype="multipart/form-data" id="frm">
<input type="hidden" name="memberNum" th:value="${memberCommand.memberNum}"/>
	회원 등록 페이지<br/>
	프로필 : <input type="file" name="profileImg" th:value="${memberCommand.profileImg}" /><br/>
	회원아이디 : <input type="text" name="memberId" id="userId" th:value="${memberCommand.memberId}" />
	<span th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}"></span>
	<span id="idCheck"></span><br/>
	회원명 : <input type="text" name="memberName" th:value="${memberCommand.memberName}"/>
	<span th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span><br/>
	회원주소 : <input type="text" name="memberAddr"id="sample4_roadAddress" th:value="${memberCommand.memberAddr}" onclick="execDaumPostcode()" readonly="readonly"/>
	<span th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}"></span><br/>
	상세주소 : <input type="text" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail}" /><br/>
	우편번호 : <input type="text" name="memberPost"  id="sample4_postcode" th:value="${memberCommand.memberPost}" readonly="readonly"/><br/>
	회원연락처1 : <input type="tel" name="memberPhone1" th:value="${memberCommand.memberPhone1}"/>
	<span th:if="${#fields.hasErrors('memberPhone1')}" th:errors="*{memberPhone1}"></span><br/>
	회원연락처2 : <input type="tel" name="memberPhone2" th:value="${memberCommand.memberPhone2}"/><br/>
	회원성별 : <input type="radio" name="gender" value="M"  th:checked="${memberCommand.gender == 'M'}"/>남자
			 <input type="radio" name="gender" value="F" th:checked="${memberCommand.gender == 'F'}"/>여자<br/>
	회원생년월일 : <input type="date" name="memberBirth" th:value="${#dates.format(memberCommand.memberBirth, 'yyyy-MM-dd')}" />
	<span th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}"></span><br/>
	회원이메일 : <input type="email" name="memberEmail" id="userEmail" th:value="${memberCommand.memberEmail}" /><br/>
	키:		<select name="height" >
				<option th:selected="${memberCommand.height == '~150cm'}">~150cm</option>
				<option th:selected="${memberCommand.height == '150~157cm'}">150~157cm</option>
				<option th:selected="${memberCommand.height == '155~162cm'}">155~162cm</option>
				<option th:selected="${memberCommand.height == '160~167cm'}">160~167cm</option>
				<option th:selected="${memberCommand.height == '165~172cm'}">165~172cm</option>
				<option th:selected="${memberCommand.height == '170~177cm'}">170~177cm</option>
				<option th:selected="${memberCommand.height == '175~182cm'}">175~182cm</option>
				<option th:selected="${memberCommand.height == '180~187cm'}">180~187cm</option>
				<option th:selected="${memberCommand.height == '185~192cm'}">185~192cm</option>
				<option th:selected="${memberCommand.height == '192cm~'}">192cm~</option>
			</select><br/>
	몸무게:	<select name="weight" >
				<option th:selected="${memberCommand.weight == '~45kg'}">~45kg</option>
				<option th:selected="${memberCommand.weight == '45~50kg'}">45~50kg</option>
				<option th:selected="${memberCommand.weight == '50~55kg'}">50~55kg</option>
				<option th:selected="${memberCommand.weight == '55~60kg'}">55~60kg</option>
				<option th:selected="${memberCommand.weight == '60~65kg'}">60~65kg</option>
				<option th:selected="${memberCommand.weight == '65~70kg'}">65~70kg</option>
				<option th:selected="${memberCommand.weight == '70~75kg'}">70~75kg</option>
				<option th:selected="${memberCommand.weight == '75~80kg'}">75~80kg</option>
				<option th:selected="${memberCommand.weight == '80~85kg'}">80~85kg</option>
				<option th:selected="${memberCommand.weight == '85~90kg'}">85~90kg</option>
				<option th:selected="${memberCommand.weight == '90kg~'}">90kg~</option>
			</select><br/>
	<input type="submit" value="회원수정"/>
</form>
</body>
</html>